@model blog_site.Models.ViewModels.DetayVM
<section class="d-flex flex-column align-items-center justify-content-center gap-4 pt-5"
    style="width: 100%; height: calc(100vh - 155px);">
    <a class="btn btn-primary m-2" asp-action="Index" asp-controller="Home">Ana Sayfayı Görüntüle</a>
    <div class="mb-5 text-center">
        <h4 class="mb-3">Gönderi Detayları</h4>
        <ul class="list-group">
            <li class="list-group-item">ID : @Model.id</li>
            <li class="list-group-item">Türü : @Model.turAdi</li>
            <li class="list-group-item">Başlığı : @Model.baslik</li>
        </ul>
    </div>

    <article>
        <h4>Önsöz</h4>
        <p>@Model.onsoz</p>
        <hr>
        <h4>Yazı</h4>
        <p class="text-start">
            @Html.Raw(Model.yazi)
        </p>
    </article>
</section>